body {
  /*
    background-color: #212759 !important;
    
    */
  background-color: #19475E;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0;
  margin: 0;
  border: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* margin: auto; */
  /* margin-top: 0vw; */
  /*rgba(0,0,0,.8);*/
}
.center-yx {
  margin: auto;
  text-align: center;
}
.error-msg{
  color: red;
  font-size: 12px;
  margin-left: 5px;
}

#motto {
  display: inline-block;
  padding-left: 0.5vw;
  padding-top: 1.5vw;
  margin-top: 0vw;
  margin-bottom: 1.5vw;
}

#logo {
  margin-left: 4vw;
  vertical-align: super;
}

a {
  color: #ab3326;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

nav {
  float: right;
  margin-top: 1vw;
  margin-right: 2vw;
}

.navbar_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  /*border-radius: 10px;*/
}

.navbar_li {
  margin: 5px;
  color: black;
  font-size: 1.25vw;
}
nav li a {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}
nav li a:link {
  text-decoration: none;
  color: black;
}
nav li a:hover {
  text-decoration: underline;
}
nav li a:active {
  text-decoration: none;
  color: blue;
}

#active_nav {
  text-decoration: none;
  color: red;
  padding: 5px;
  /*  font-size: 3vw; background-color: #069; border-radius: 5px;*/
}

.sign_log {
  margin-bottom: 0.5vw;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

/* .sign_log:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.sign_log:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.sign_log:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
} */

/*Formatting for Middle Content is below*/

#midsection {
  width: 90%;
  margin: auto;
  margin-top: 2vw;
  border-radius: 5px;
  /*background-color: rgba(78, 131, 211, 0.942);*/
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
}
#middlecontent {
  margin: auto;
  margin-top: 0vw;
  /*rgba(0,0,0,.8);*/
  width: 90%;
}
.middlecontent {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2vw;
  display: block;
}

#heartimg {
  float: right;
}

#leftfeatures,
#centerfeatures,
#rightfeatures {
  padding-top: 1vw;
  padding-bottom: 2vw;
  margin: 5px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.815);
  background-color: rgb(255, 64, 64);
}

/*The Image Holder CSS*/
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip1113 {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  /* margin: 10px; */
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: inline-block;
}

figure.snip1113 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

figure.snip1113 img {
  max-width: 65%;
  margin: 40px auto;
  display: block;
  position: relative;
  border: 3px solid #666666;
  padding: 15px 15px 85px 15px;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

figure.snip1113 figcaption {
  position: absolute;
  height: 120px;
  bottom: 0px;
  left: 0;
  right: 0;
  display: block;
}

figure.snip1113 h3 {
  background-color: #ffffff;
  color: #000000;
  font-size: 1.7em;
  width: 100%;
  padding: 5px 12px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
}

figure.snip1113 h3 span {
  font-weight: 800;
}

figure.snip1113 h4 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -1px;
  opacity: 0.6;
  font-size: 1.1em;
}

figure.snip1113.blue img {
  border-color: #2472a4;
}

figure.snip1113.blue h3,
figure.snip1113.blue h4 {
  color: #2472a4;
}

figure.snip1113.red img {
  border-color: #ab3326;
}

figure.snip1113.red h3,
figure.snip1113.red h4 {
  color: #ab3326;
}

figure.snip1113.yellow img {
  border-color: #e08e0b;
}

figure.snip1113.yellow h3,
figure.snip1113.yellow h4 {
  color: #e08e0b;
}

figure.snip1113.green img {
  border-color: #229955;
}

figure.snip1113.green h3,
figure.snip1113.green h4 {
  color: #229955;
}

figure.snip1113.orange img {
  border-color: #d67118;
}

figure.snip1113.orange h3,
figure.snip1113.orange h4 {
  color: #d67118;
}

figure.snip1113.navy img {
  border-color: #2b3c4e;
}

figure.snip1113.navy h3,
figure.snip1113.navy h4 {
  color: #2b3c4e;
}

.logincard {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.footer {
  background-color: white;
  bottom: 0;
  width: 100%;
}

.navbar-nav {
  display: -webkit-inline-box;
  padding-left: 20px;
}
.navbar-nav li {
  padding: 20px;
}
.card-title {
  text-align: center;
}

.panel {
  background-color: #696969;
  color: white;
}
.form-container {
  margin: auto;
}

.card-body {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.device {
  float:right;
  cursor:pointer;
}

.dropdown {
  float: right;
  padding-top:20px;
}
.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
  transform: translate3d(0px, 48.8px, 0px);
}

.active-course-btn{
  font-size: 12px;
  color: gray;
  margin: 0px 2px;
 }

 .active-course{
  color: #229955;
 }

 .svg{
  color: black
 }

 .pagination button{
  margin: 2px;
  background-color:#C8A2C8;
  border: 1px solid gray;
  border-radius: 5px ;
  width: 30px;
  height: 30px;
 }

 .pagination button{
  margin: 2px;
  background-color:#C8A2C8;
  border: none;
  border-radius: 5px ;
  width: 30px;
  height: 30px;
  color: white;
  font-weight: bold;
 }

 .pagination button:hover{
  background-color:#8f738f;
 }

 .pagination button.active{
  background-color:#8f738f;
 }

 .list-title{
  color: #8f738f;
  font-weight: bolder;
  margin: 10px;
  font-size: larger;
 }